
#section-nav, #section-nav ul {
    font-family: "Arvo",sans-serif;
    list-style-type: none;
}


#section-nav li {
    display: inline-block;
}



label.groups {
    display: inline;
}

.groups-button { cursor: pointer; }

li.groups-item-add { cursor: pointer; }


li.groups-item-exists:after {
	content: ' (added)';	
}


.groups-join-button { cursor: pointer; }


.groups-quit-button { cursor: pointer; }

.groups-pending-request-view { margin-left: 6px; }
.groups-pending-request-approve { margin-left: 6px; }

ul#groups-group-list li {
    cursor: pointer;
    padding-left: 12px;
    list-style: none;
    display: inline;
}

li.groups-comment-group {
    list-style: none;
    display: inline;
    padding-left: 6px;
}

div.groups-group > h3 {
    float: left;
    width: 90px;
    margin-top: 0;
    margin-bottom: 3px;
}

div.group-options {
    padding-left: 90px;
    clear:both;
}


div.groups-group div.groups-admin-actions {
    padding-left: 90px;
    padding-top: 20px;
}

div.groups-group {
    border-top: 1px solid grey;
    margin-top: 40px;
}

div.groups-block-entities {
    display:none;
}

div.pending {
    display:none;
}


/* commenting integration */

div#groups-commenting > label {
    cursor: pointer;
}

#groups-commenting-copy {
    cursor: pointer;
}