
#section-nav, #section-nav ul {
    list-style-type: none;
}

#groups-section-nav-label {
    float: left;
    padding-right: 6px;
    line-height: 24px;
}

#section-nav li {
    display: inline-block;
}

label.groups {
    display: inline;
}

.groups-button { cursor: pointer; }

li.groups-item-add { 
    cursor: pointer;
}

.groups-join-button { cursor: pointer; }

.groups-item-exists input[type="checkbox"] {
    display: none;
}

.groups-quit-button { cursor: pointer; }

.groups-pending-request-view { margin-left: 6px; }
.groups-pending-request-approve { margin-left: 6px; }

ul#groups-group-list li {
    cursor: pointer;
    padding-left: 12px;
    list-style: none;
    display: inline;
}

li.groups-comment-group {
    list-style: none;
    display: inline;
    padding-left: 6px;
}

div.groups-group div.groups-admin-actions {
    padding-left: 90px;
}

div.groups-admin-actions h4 {
    margin-bottom: 0;
}

div.groups-group {
    border-top: 1px solid grey;
    margin-top: 40px;
}

div.item-images > div {
    float: left;
    margin: 6px;
}

div.groups-item {
    clear:both;
}

div.groups-block-entities {
    display:none;
}

div.pending {
    display:none;
}

.groups input[type=checkbox],
.groups input[type=radio] {
    margin: 0 5px 0 15px;
}

.groups input:first-of-type {
    margin-left: 0;
}

.groups input[type=text],
.groups input[type=password],
.groups textarea {
    display: block;
    margin-bottom: 1em;
    width: 50%;
}

.group-notifications {
    margin-bottom: 1em;
}

.inputs {
    margin-bottom: 1em;
}

.group-status {
    margin-bottom: 1em;
}

.group-status p {
    margin-bottom: 0;
}

/* commenting integration */

div#groups-commenting > label {
    cursor: pointer;
}

#groups-commenting-copy {
    cursor: pointer;
}

/* modal */

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.modal {
    display: none;
    background:#eee;
    overflow:auto;
    z-index:1001;
    position:absolute;
    width: 500px;
    min-height: 300px;
    text-shadow: none;  
    color: #696969;
}

.modal-header {
    background-color: teal;
    color: #fff;
    padding: 12px 20px;
}    

.modal-header h3 {
    font-weight: 200;
    margin: 0;
}

.modal-header .close-button {
    float: right;
}

.modal-content {
    padding: 20px;
}

#user-groups {
    padding: 0;
    margin: 24px 0;
    list-style-type: none;
}    

.groups-item-ineditable, #user-groups a {
    color: red;
    padding: 12px 20px;
    display: inline-block;
    width: 100%;
}
    
#user-groups li {
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
    height: 48px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
    
#user-groups li:not(:first-of-type) {
    margin-top: 24px;
}

#user-groups li:after {
    content: "";
    position: absolute;
    top: 0;
    background-color: #f1f1f1;
    float: right;
    bottom: 0;
    right: 0;
    width: 48px;
    z-index: 10;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
}

.groups-item-ineditable {
    background-color: #E0E0E0;
    color: #999;
}
    
.groups-item-ineditable:after {
    content: "\2713";
    background-color: #c9c9c9;
}

#user-groups .checked:after {
    content: "\2713";
    background-color: teal;
    color: #fff;
}

.groups-add-item input[type=checkbox] {
    z-index: 0;
    position: absolute;
    right: 10px;
}

.empty h3:first-of-type, .empty ul {
    display: none;
}

.groups-item-status.empty h3:nth-of-type(2) {
    display: block;
}

.groups-item-status h3:nth-of-type(2) {
    display: none;
}


.added {
    text-indent: -9999px;
    display: inline-block;
}
