label.groups {
    display: inline;
}

.groups-button { cursor: pointer; }

li.groups-item-add { cursor: pointer; }

.groups-join-button { cursor: pointer; }


.groups-quit-button { cursor: pointer; }

.groups-pending-request-view { margin-left: 6px; }
.groups-pending-request-approve { margin-left: 6px; }

ul#groups-group-list li {
    cursor: pointer;
    padding-left: 12px;
    list-style: none;
    display: inline;
}

li.groups-comment-group {
    list-style: none;
    display: inline;
    padding-left: 6px;
}

div.groups-group > h3 {
    float: left;
    width: 90px;
    margin-top: 0;
}

div.group-options {
    padding-left: 90px;
}


div.group-membership {
    padding-left: 90px;
    padding-top: 20px;
}

div.groups-group {
    border-top: 1px solid grey;
}